@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #2B2B2B;
}

h2 {
  margin: 0 0 5px;
  padding: 0;
  font-weight: 300;
}

h3,
label {
  display: inline-block;
  margin: 10px 0 3px;
  font-size: 0.65rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  display: block;
  margin-top: 20px;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.result {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

input,
select {
  padding: 12px 18px;
  border: none;
  border-radius: 3px;
  background-color: rgba(233,102,44,0.3);
  outline: none;
  color: #fff;
  font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' class='svg-triangle' width='10' height='10'><path d='M 5,6 10,0 0,0 z' fill='rgba(25, 25, 25, 0.7)' /></svg>");
  background-position: calc(100% - 15px) 19px;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]~label .toggle {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgba(25, 25, 25, 0.5);
  outline: none;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
}

input[type="checkbox"]~label .toggle::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background-color: rgba(233,102,44,0.3);
  transition: left 0.3s;
}

input[type="checkbox"]:checked~label .toggle::before {
  left: 24px;
}
